@model ClassInfoDto

<form asp-action="ClassInfoCreate">
    <br />
    <div class="container border p-3">
        <h1 class="text-center">Create ClassInfo</h1>

        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Student Name</label>
            </div>
                <div class="col-10 pb-2">
                <select asp-for="Name" class="form-select" asp-items="@ViewBag.StudentNameList">
                        <option disabled selected>--Select Name--</option>
                    </select>
                </div>
            
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Class Day</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ClassDay" class="form-control" />
                <span asp-validation-for="ClassDay" class="text-danger " />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Review Ratio</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ReviewRatio" class="form-control" />
                <span asp-validation-for="ReviewRatio" class="text-danger " />
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Contents</label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="ClassContent" class="form-control" rows="7" ></textarea>
                <span asp-validation-for="ClassContent" class="text-danger " />
            </div>


            <div class="col-5 offset-2">

                <a asp-action="ClassInfoIndex" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success form-control" />
            </div>
        </div>
        <div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
                }